<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/media.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito|Bree+Serif|Josefin+Slab|Courgette|Molengo|Raleway|Poiret+One|Alice|Limelight|Merienda+One|Happy+Monkey' rel='stylesheet' type='text/css'>

  
  <title>Weather App</title>
  
 
</head>
<body>
       
    <div class="main_container">
        
    <h1 class="title">AROVAN</h1>
        
    <div class = we_container>
    
        <div class="desc_container">
        
            <h2 class="subtitle">exlpore the weather around you!</h2>
          
            <input class="user_in" type="text" placeholder="Enter a City" type="text" name="city" id="city"><br>
            <button id="search">Search</button>
            
            
                

            
        </div>
    
    </div>
        
        <div class="results_container">
        
            <strong><h1 class="re_city"></h1></strong>
            <div class="results">
            
                <div class="re hilow">
                <div class="high"></div>
                <img class="thermo_hi" src="">
                </div>
                
                <div class="re temp_main">
                    <img class="ico" src="">
                    <img class="ico two" src="">
                    <h1 class="temp"></h1>
                    <div class="desc"></div>           
                    
                </div>
                    
                <div class="re hilow">
                <div class="low"></div>
                <img class="thermo_low" src="">
                </div>     
                
            
            </div>
            <form action="index2.html" method="GET">
            <button id="search" ><a href="index2.html">Find the weather for the next 5 days  </a></button>
			</form>
        </div>
        
    </div>
    

    <!-- Maps Autocomplete -->
<script src="js/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkHWPAtZxudMa1Bi5DgvbpK1QpR0axhIw&libraries=places&callback=initMap"        async defer></script>
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/weather.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
var cars = [
	{ "make":"Porsche", "model":"911S" },
	{ "make":"Mercedes-Benz", "model":"220SE" },
	{ "make":"Jaguar","model": "Mark VII" }
];

window.onload = function() {
	// setup the button click
	document.getElementById("theButton").onclick = function() {
		doWork()
	};
}

function doWork() {
	// ajax the JSON to the server
	$.post("receiver", cars, function(){

	});
	// stop link reloading the page
 event.preventDefault();
}
</script>
</body>
</html>
